@import "tailwindcss";
.hind-madurai {
  font-family: "Hind Madurai", sans-serif;
  font-style: normal;
}

.inter> {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

/* <i class="fa-light fa-phone"></i> */
/* <i class="fa-regular fa-copy"></i> */
/* <i class="fa-light fa-heart"></i> */
/* <i class="fa-regular fa-clock"></i> */